{:paths ["clj/src" ]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases {:run {:main-opts ["-m" "clox.main"]}
           :nrepl {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "3.0.0"}
                                cider/cider-nrepl {:mvn/version "0.27.2"}}
                   :main-opts ["-m" "nrepl.cmdline"
                               "--middleware"
                               "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                               #_"[cider.nrepl/cider-middleware]"]
                   }

           :test {:extra-paths ["clj/test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                  :main-opts   ["-m" "kaocha.runner"]}}


 }
