{:paths ["clj/src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases {:run {:main-opts ["-m" "clox.main"]}
           :nrepl {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
                                cider/cider-nrepl {:mvn/version "0.26.0"}}
                   :main-opts ["-m" "nrepl.cmdline"
                               "--middleware"
                               "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                               #_"[cider.nrepl/cider-middleware]"]
                   }

           :test {:extra-paths ["test/main/clojure"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                  :main-opts   ["-m" "kaocha.runner"]}}


 }
